<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hkm.ezwebviewsample">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator"
        tools:replace="android:label,android:allowBackup">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".YoutubeVid"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/iosVideo" />

        <activity
            android:name=".PopupInfo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/iosVideo" />


        <activity
            android:name=".PopupInfo2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme" />


    </application>

</manifest>
